@import "../Colors.less";

.app-header {
  padding: 0.75rem 1rem;
  background-color: var(--navbar-bg-color);

  .app-navbar {
    max-width: 100%;

    a {
      color: var(--font-color);

      &.app-profile {
        img {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
        }
      }
    }

    hr {
      color: var(--main-logo-color);
    }

    .app-header-toggler {
      border: 0;
      padding: 0;

      i {
        color: var(--main-logo-color);
      }

      &:focus {
        box-shadow: none;
      }
    }

    .app-brand {
      img {
        height: 2rem;
      }
    }
  }
}
