
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
