@import "../Colors.less";

.app-sign-in {
  .app-panel {
    position: relative;
    background: var(--panel-bg-color);
    border-radius: 0.5rem;
    padding: 0 2rem;
    border: solid 1px var(--main-logo-color);

    span {
      color: var(--main-logo-color);
    }

    h3 {
      text-transform: uppercase;
    }

    .form-group {
      position: relative;
      margin-bottom: 1rem;

      .icon {
        position: absolute;
        top: 8px;
        left: 4px;
        i {
          color: var(--main-logo-color);
        }
      }
    }

    .form-control {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      height: 48px;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    button.form-control {
      margin-top: 1rem;
      background-color: var(--main-logo-color);

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
      }
    }

    input.form-control {
      border-radius: 0;
      border-bottom: 1px solid var(--main-logo-color);
      background-color: var(--panel-bg-color);
      color: var(--font-color);
      padding-left: 30px;
      padding-right: 0;

      &::placeholder {
        color: var(--placeholder-color);
      }
    }
  }
}
