:root {
  --main-logo-color: #f48221;
  --main-white-color: #ffffff;
  --info-color: #3498db;
  --success-color: #07bc0c;
  --warning-color: #f1c40f;
  --error-color: #e74d3c;

  --main-bg-color: #f9fafb;
  --navbar-bg-color: #ffffff;
  --panel-bg-color: #ffffff;
  --border-color: #e4e7ec;
  --font-color: #1c2939;
  --placeholder-color: #516169;

  --accent-color: #34c759;
  --active-color: #2da44e;
  --hover-color: #4ade80;

  --chart-primary-color: #34c759;
  --chart-secondaty-color: #60a5fa;

  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f3f4f6;

  --font-primary-color: #111111;
  --font-secondary-color: #6b7280;

  --separator-color: #e5e7eb;
}

[data-theme='dark'] {
  --main-bg-color: #101828;
  --navbar-bg-color: #101828;
  --panel-bg-color: #171f2f;
  --border-color: #1c2939;
  --font-color: #e8e8ed;
  --placeholder-color: #516169;

  --bg-primary-color: #0a0a0b;
  --bg-secondary-color: #151618;

  --font-primary-color: #e5e7eb;
  --font-secondary-color: #9ca3af;

  --separator-color: #26272b;
}
