@main-bg-color: #f5f7fa;
@main-logo-color: #f48221;
@main-white-color: #ffffff;
@panel-bg-color: #ffffff;
@border-color: #cbd0dd;
@info-color: #3498db;
@success-color: #07bc0c;
@warning-color: #f1c40f;
@error-color: #e74d3c;
